.searchContainer {
    display: block;
    position: relative;
    float: left;
    margin-left: 29px;
    height: 30px;
}
.search {
    float: left;
    outline: none;
    width: 230px;
    font-size: 18px !important;
    height: 30px;
    margin-top: 2px;
    border-radius: 0px !important;
    border: 1px solid #888;
    padding: 10px 5px !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.twitter-typeahead {
    float: left;
}
.searchButton {
    float: left;
    top: 0;
    border: 1px solid #999;
    border-left: none;
    background: #eee;
    font-family: "Lato", Arial, sans-serif;
    color: #444;
    text-transform: uppercase;
    font-size: 13px;
    color: #cc4545;
    padding: 6px 10px 3px;
    margin-left: -2px;
    margin-top: 2px;
    cursor: pointer;
    font-weight: bold;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.searchButton:hover {
    color: black;
}
.tt-menu {
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 100;
    display: none;
    width: 227px;
    background-color: white;
    font-family: "Lato", Arial, sans-serif;
    border: 1px solid #ccc;
    border-top: none;
}
.tt-hint {
    display: none;
}
.tt-suggestion {
    padding: 10px 5px;
}
.tt-cursor {
    background-color: #E34B4B;
    color: white;
}

.tick line {
    stroke: #D8D8D8;
}

.tick text {
    font-family: 'Lato', sans-serif;
    fill: #aaa;
    font-size: 13px;
}

path.domain {
    display: none;
}

